.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 1;
  overflow-x: hidden;
}

.splitTitel {
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
}

.sortierButton{
  width: 175px;
  height: 45px;
  margin-right: 10px;
}

.sortArea{
  text-align: right;
}

.liste{
  text-align: center;
  justify-content: top; 
  left: 0;
  width: 75%;
}

.eingabe{
  background-color: #242a36;
  text-align: center;
  right: 0;
  width: 25%;
}

.todos{
  left: 0;
  width:  50%;
  text-align: left;
  border-left: solid;
  border-color: #343d50;
  border-width: 40px;
}

.fertig{
  right: 0;
  width: 40%;
  text-align: left;
}

.Parameter{
  text-align: left;
  border: solid;
  border-width: 20px;
  border-color:  #242a36;
}

.input{
  width: 100%;
  height: 25px;
}

.submit{
  width: 50%;
  height: 50px;
  position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titel {
  border: solid;
  border-width: 10px;
  border-color: #191e27;
  background-color: #191e27;
  text-align: left;
}

.App {
  background-color: #343d50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top; 
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
